<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f9;
        }
        header, footer {
            background-color: #333;
            color: white;
            padding: 10px 0;
        }
        main {
            padding: 20px;
        }
    </style>
</head>

<body class="flex flex-col justify-between min-h-screen font-sans leading-normal tracking-normal">
    <header class="h-16 flex items-center justify-between px-4 md:px-6">
        <h1 class="text-xl md:text-3xl">My Personal Blog</h1>
        <nav>
            <a href="/" class="text-white mx-2 hover:underline">Home</a>
            <a href="/about" class="text-white mx-2 hover:underline">About</a>
            <a href="/contact" class="text-white mx-2 hover:underline">Contact</a>
        </nav>
    </header>

    <main class="container flex-1 w-full md:max-w-3xl mx-auto overflow-x-hidden">
        {% block content %}{% endblock content %}
    </main>
    
    <footer class="flex w-full h-20 justify-center items-center">
        &copy; 2024 by <a class="pl-2 text-white hover:underline" href="">Personal Blog</a>.
        <div class="flex justify-center items-center ml-4">
            <a href="https://twitter.com" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
            <a href="https://facebook.com" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/veera._.ragavan?igsh=MXNzaGtwN3o2bXlybA==" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
    
    <script src="/static/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>
